.ciudad {
    display: none;

    @include desktop {
        order: 3;
        display: flex;
        align-items: center;
        padding-left: 2em;
        width: 8em;
        position: relative;
        cursor: pointer;
    }
    p {
        color: $blanco;
        font-size: 1em;
        margin: 0;
        margin-left: 0.5em;
        font-weight: bold;
        text-transform: uppercase;
    }

    img {
        @include desktop {
            width: 1.6em;
            height: 1.2em;
            border-radius: 0.4em;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 28%;
        background-image: url("../../../public/img/chevron-down-solid.svg");
        background-repeat: no-repeat;
        width: 0.8em;
        height: 0.8em;
        right: 0%;
    }

    .listaCiudades {
        height: 0vh;
        opacity: 0;
        transition: 1s;
        overflow: hidden;
        &.mostrarListaCiudades {
            @include desktop {
                display: block;
                position: absolute;
                height: auto;
                max-height: 40vh;
                overflow-y: scroll;
                scrollbar-width: none;
                top: 5vh;
                left: 0;
                background: $morado;
                width: 15em;
                border-radius: 0 0 1em 1em;
                z-index: 5;
                opacity: 1;

                &::-webkit-scrollbar {
                    display: none;
                }
                li {
                    color: $blanco;
                    font-weight: bolder;
                    padding: 0 0.5em 0.8em 0.5em;
                    border-bottom: 1px solid rgba($negro, 0.3);
                    &:first-child {
                        padding-top: 0.5em;
                    }
                }
            }
        }
    }
}
