.calificacion {
    display: flex;
    height: 2em;
}
.calificacion 
button {
    background: transparent ;
    border: 0;
    color: $naranja;
    transition: 1s all;
    &:nth-child(1) {
        padding-left: 0;
    }
    &:nth-child(5) {
        color: $naranja;
        
    }
}
