.header {
    height: auto;
    background: $morado;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    flex-direction: column-reverse;
    @include desktop {
        flex-direction: row;
    }
    .contenedorIzquierdo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0.5em;
        padding-right: 1.5em;
        @include desktop {
            width: 60%;
            justify-content: start;
        }
    }

    .contenedorDerecho {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include desktop {
            width: 25%;
            justify-content: flex-end;
        }
    }
}

// Div logo laika
// Lateral Izquierdo
.logoLaika {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1em;
    cursor: pointer;

    @include desktop {
        margin-right: 0;
    }
    .nombreLaika {
        margin: 0;
        font-weight: bold;
        font-family: "Armarialbold";
        text-transform: uppercase;
        font-size: 0.7em;
        color: $blanco;

        @include desktop {
            font-size: 0.9em;
        }
    }
    img {
        width: 2.5em;
        @include desktop {
            width: 3.5em;
        }
    }
}

// Input del Buscador
.inputBuscador {
    height: 2.5em;
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;

    @include desktop {
        width: 25%;
        margin-left: 1em;
    }

    input {
        height: 100%;
        width: 100%;
        padding-left: 2.5em;
        border-radius: 0.6em;
        border: 0;
        font-size: 0.7em;
        font-weight: bold;
    }
    .iconoBuscar {
        position: absolute;
        top: 25%;
        width: 1.8em;
        height: 1.8em;
        left: 1%;
        background: transparent;
        background: url('../../../public/images/search-solid.svg');
        background-repeat: no-repeat;
    }
}

.ciudadActual {
    display: flex;
    flex-grow: 2;
    display: none;
    position: relative;
    @include desktop {
        display: block;
    }

    .listaCiudades {
        position: absolute;
        height: 0vh;
        overflow: hidden;
        transition: 1s;
        top: 100%;
        z-index: 10;
        &.mostrarListaCiudades {
            background: $morado;
            z-index: 2;
            height: 45vh;
            max-height: 45vh;
            overflow: scroll;
            scrollbar-width: none;
            border-radius: 0 0 0.5em 0.5em;
            -webkit-box-shadow: 0px 0px 25px -25px rgba(0, 0, 0, 0.93);
            box-shadow: 0px 0px 25px -25px rgba(0, 0, 0, 0.93);    
        }
        &::-webkit-scrollbar {
            display: none;
        }
        .ciudadOpcion {
            color: $blanco;
            font-weight: bold;
            margin: 0.2em;
            padding-left: 0.8em;
            padding-right: 0.4em;
            text-transform: capitalize;
            border-bottom: 1px solid rgba($blanco, 0.3);
            cursor: pointer;
        }
    }

    .contenidoCiudadActual {
        display: none;
        @include desktop {
            display: flex;
            align-items: center;
            margin-left: 1em;
            width: 8em;
            cursor: pointer;
            img {
                max-width: 2em;
                max-height: 1.7em;
            }
            .nombreCiudad {
                color: $blanco;
                font-weight: bold;
                font-size: 1em;
                font-family: "Armarialbold";
                margin-left: 0.3em;
            }

            .flechaAbajo {
                width: 1em;
                display: flex;
                align-items: center;
                margin-left: 0.3em;
            }
        }
    }
}

// Lateral Derecho
.cuentaCarrito {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.miCuenta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    margin-right: 0.5em;

    @include desktop {
        width: 70%;
        justify-content: flex-end;
    }
    img {
        width: 2em;
        height: 2em;

        @include desktop {
            width: 3.5em;
            height: 3.5em;
        }
    }
    .textoMiCuenta {
        display: none;
        @include desktop {
            display: block;
            width: 50%;
            color: $blanco;
            font-weight: bold;
            font-family: "Armarialbold";
            text-transform: capitalize;
            font-size: 1em;
            margin-left: 0.7em;
        }
    }
}

.carrito {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    &::before {
        content: '0';
        position: absolute;
        width: 1em;
        height: 1em;
        min-width: 1em;
        min-height: 1em;
        border-radius: 100%;
        top: -0.35em;
        right: -0.35em;
        font-size: 1em;
        background: chocolate;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $blanco;
    }
    img {
        width: 1.8em;

        @include desktop {
            width: 2.5em;
        }
    }
}


