// @font-face {
//     font-family: 'Montserrat';
//     font-style: normal;
//     font-weight: 300;
//     src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-Light.woff') format('woff');
// }

@font-face {
    font-family: 'Armarialbold';
    font-style: normal;
    font-weight: 400;
    src: local('Armarialbold'), url('https://fonts.cdnfonts.com/s/13999/Armarialbold.woff') format('woff');
}