// General
$separacion: 5rem;

// Fuentes


// Colores 
$negro: #000;
$blanco: #fff;
$morado: #603e85;

// Fuentes
$delgada: 300;
$media : 400;
$negrita: 700;

// Tamaño de Media Queries
$telefono: 20em;
$tablet: 48em;
$desktop: 65em;